<% title t('.title') %>
<% breadcrumbs_admin link_to(t('.title'), users_path) %>

<p id="notice"><%= notice %></p>

<h2><%= @user.email %></h2>
<p><strong><%= User.human_attribute_name :role =%></strong>: <%= @user.human_role %></p>
