<% content_for :submenu do %>
  <%= render "submenu" %>
<% end %>

<% title t('pages.new.title') %>
<% breadcrumbs_admin link_to(t('pages.index.title'), pages_path),
                     link_to(t('pages.new.title'), new_page_path) %>

<div class="cols-container">
  <div class="main-column">
    <%= render 'form' %>
  </div>
  <div class="tooltip-column">
    <%= render 'tooltip' %>
  </div>
</div>

<%= link_to t('back'), pages_path %>
