<% title @page.title %>
<% description @page.meta_description %>
<% keywords @page.meta_keywords %>
<% breadcrumbs(@page.ancestors.reverse.map{|a| link_to a.title, page_path(a) } << @page.title) %>

<div id="page">
  <h2><%= @page.title %></h2>
  <p><%=raw @page.content %></p>
</div>
