<% title @page.title %>
<% description @page.meta_description %>
<% keywords @page.meta_keywords %>

<% breadcrumbs(@page_original.ancestors.reverse.map{|a| link_to a.title, page_path(a) } << @page.title) %>

<h2><%= @page.title %></h2>
<div class="content"><%=raw @page.content %></div>
