<div id="footer">
    <div class="footer_linki">
      <% if current_user %>
        <%= link_to "Administracja", admin_path %>
      <% end %>
    </div>
    <div class="copyright">
    </div>
</div>