<div id="social">
  <div id="icons">
    <a class="facebook" href="facebook"></a>
    <a class="twitter" href="twitter"></a>
    <a class="blip" href="blip"></a>
    <a class="flickr" href="flickr"></a>
  </div>
</div>