<% if switcher.respond_to? :current_page %>
<%- start = (switcher.current_page - 1)*switcher.per_page + 1 -%>
<%- finish = switcher.current_page*switcher.per_page -%>
<%- finish = switcher.total_entries if finish > switcher.total_entries -%>
<div id="switcher">
  <%= t('.label_html', start: start, finish: finish, total: switcher.total_entries ) %>
  <%= will_paginate switcher, next_label: '&gt;', previous_label: '&lt;', page_links: false %>
</div>
<% end %>
