<div class="tooltip-box">
  <span class="bulb">Uwaga!</span>
  <p>Słowa kluczowe ważne są i przecinkami należy odzielać je. Pamiętaj o tym kiedy formularz wypełniać będziesz ten.</p>
  <span>* pole obowiązkowe</span>
</div>
<div class="tooltip-arr">
</div>
