<%% title t('.title') %>

<%- [:alert, :notice].each do |name| -%>
<%%= content_tag(:p, flash[:<%= name %>], class: :<%= name %>) if flash.key? :<%= name %> %>
<%- end -%>

<div class="row">
  <div class="columns small-12">
    <%%= render 'form' %>
  </div>
  <div class="columns small-12 text-right">
    <%%= link_to t('back', scope: [:helpers, :actions]), admin_<%= index_helper %>_path, class: [:button, :tiny, :secondary] %>
  </div>
</div>
