<!DOCTYPE html>
<html>
  <head>
    <%= render :partial => "l/partials/head" %>
  </head>
  <body>
    <%= render :partial => "l/partials/header" %>
    <%= render :partial => "l/partials/content" %>
    <%= render :partial => "l/partials/footer" %>
  </body>
</html>
