<ul class="submenu">
  <li class="show-more"><%= link_to fa_icon('caret-down'), '#', data: {dropdown: 'submenu-dropdown'} %></li>
  <% if action_name == 'index' %>
  <li><%= link_to fa_icon('plus-circle fw', text: t('.new')), new_admin_news_path(format: :js), data: {remote: true} %></li>
  <% else %>
  <li><%= link_to fa_icon('bars fw', text: t('.index')), admin_news_index_path %></li>
  <% end %>
  <li class="selection"><%= link_to fa_icon('trash-o fw', text: t('.destroy')), bulk_destroy_admin_news_index_path, data: {method: :delete, confirm: t('.destroy_confirm', default: "Sure?")} %></li>
</ul>
<ul id="submenu-dropdown" class="f-dropdown axis-right" data-dropdown-content>
</ul>
