<% title t('.title') %>
<% breadcrumbs_admin link_to(t('l.admin.news.index.title'), news_index_path), link_to(t('.title'), edit_admin_news_path(@news)) %>

<div class="cols-container">
  <div class="main-column">
    <%= render 'edit_form' %>
  </div>
  <div class="tooltip-column">
    <%= render 'tooltip' %>
  </div>
</div>

<%= link_to t('helpers.actions.back'), admin_news_index_path %>
