<% title t('.title') %>
<% breadcrumbs_admin link_to(t('l.admin.news.index.title'), news_index_path), link_to(t('.title'), new_admin_news_path) %>

<div class="row">
  <div class="columns small-12">
    <%= render 'form' %>
  </div>
  <div class="columns small-12 text-right">
    <%= link_to t('helpers.actions.back'), admin_news_index_path, class: 'button tiny secondary' %>
  </div>
</div>
