<% title t('l.admin.news.index.title'), t('.title'), scope: :admin %>

<div class="row">
  <div class="columns small-12">
    <%= render 'form' %>
  </div>
  <div class="columns small-12 text-right">
    <%= link_to t('helpers.actions.back'), admin_news_index_path, class: 'button tiny secondary' %>
  </div>
</div>
