<% title t('l.admin.pages.index.title'), t('.title'), scope: :admin %>

<div class="row">
  <div class="columns small-12">
    <%= render 'edit_form' %>
  </div>
  <div class="columns small-12 text-right">
    <%= link_to t('helpers.actions.back'), admin_pages_path, class: 'button tiny secondary' %>
  </div>
</div>
