<% unless @gallery_photos.blank? %>
<h2><%= t('gallery_photos.show_photos.photos_added') %></h2>
<div class="group">
  <ul class="photos_list">
    <% @gallery_photos.each do |photo| %>
      <li>
        <%= link_to image_tag(photo.photo.url(:thumb)), photo.photo.url(:original), target: '_blank' %>
        <%= link_to t('gallery_photos.show_photos.delete'), gallery_gallery_photo_path(gallery_id: photo.gallery_id, id: photo.id), data: { confirm: t('gallery_photos.show_photos.confirm'), method: :delete, remote: true } %>
      </li>
    <% end %>
  </ul>
</div>
<% end %>
