<% unless @gallery.blank? %>
	<% @gallery.each do |gallery| %>
	<div>
	  <b><%= link_to gallery.name, gallery_path(gallery) %></b><br />
          <%=raw gallery.content %>
	</div>
	<% end %>
<% end %>

<%= will_paginate @gallery %>