<% title @gallery.name  %>
<% breadcrumbs link_to( t('l.galleries.index.title'), galleries_path), @gallery.name  %>

<h2><%= @gallery.name %></h2>
<div class="date"><%= l @gallery.created_at, format: '%d-%m-%Y %H:%M' %></div>
<p><%=raw @gallery.content %></p>

<ul class="show_photos">
  <% @gallery.gallery_photos.each do |photo| %>
    <li><%= collection_lightbox_tag(photo.photo, 'gallery', target: '_blank') %></li>
  <% end %>
</ul>

