<div class='queue-item'>
  <label>{{name}}</label>
  <div class="progress">
    <span class="meter" style="width: 0;"></span>
  </div>
  <%= link_to t('.cancel'), '#', class: [:button, :secondary, :tiny, :expand, :cancel] %>
</div>
