<% content_for :title do t('.title') end %>

<%= content_tag(:p, flash[:notice], class: :notice) if flash.key? :notice %>
<%= content_tag(:p, flash[:alert], class: :alert) if flash.key? :alert %>

<div class="row">
  <div class="columns small-12">
    <%= render 'form' %>
  </div>
  <div class="columns small-12 text-right">
    <%= link_to t('helpers.actions.back'), admin_galleries_path, class: 'button tiny secondary' %>
  </div>
</div>
