<% if errors.any? %>
  <div class="alert">
    <h2><%= t('errors.template.header', count: errors.count) %></h2>
    <ul class="error-list">
      <% resource.errors.full_messages.each do |msg| %>
        <li><%= msg   %></li>
      <% end %>
    </ul>
  </div>
<% end %>
