<nav class="left-menu">
  <ul class="root">
    <li>
      <%= link_to fa_icon('home fw',text: t('.dashboard') ), admin_path %>
    </li>
    <li class="spacer"></li>
    <li>
      <%= link_to fa_icon('users fw',text: t('.users') ), admin_users_path %>
    </li>
    <li class="spacer"></li>
    <!--
    <li>
      <%#= link_to fa_icon('file-text-o fw',text: t('.pages') ), admin_pages_path %>
    </li>
    <li class="spacer"></li>
    <li>
      <%#= link_to fa_icon('comments-o fw',text: t('.news') ), admin_news_index_path %>
    </li>
    <li class="spacer"></li>
    <li>
      <%#= link_to fa_icon('picture-o fw',text: t('.galleries') ), admin_galleries_path %>
    </li>
    <li class="spacer"></li>
    <li class="has-submenu">
      <%#= link_to fa_icon('envelope-o fw',text: t('.newsletter') ), admin_newsletter_mails_path %>
      <ul>
        <li><%#= link_to t('.newsletter_confirmed'), admin_newsletter_mails_path %><li>
        <li><%#= link_to t('.newsletter_unconfirmed'), unconfirmed_admin_newsletter_mails_path %><li>
      </ul>
    </li>
    <li class="spacer"></li>
    <li>
      <%#= link_to fa_icon('wrench fw',text: t('.settings') ), admin_path %>
    </li>
    <li class="spacer"></li>
    -->
  </ul>
  <p class="copyright">created by <%= link_to "1000ideas", 'http://1000i.pl', target: '_blank' %></p>
</nav>
